// // COLORS
$color-primary-light: #ffb900;
$color-primary: #ff7730;
$color-primary-dark: #ce4800;

$color-secondary-light: #2998ff;
$color-secondary: #0059ff;
$color-secondary-dark: #5643fa;

$color-tertiary-light: #41c641;
$color-tertiary-dark: #216d21;

$color-white: #fff;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333; 

$color-black: #000;

// // FONT
$font-size-default: 1rem;

// // GRID
