// 
//
//
//

// // COLORS
$color-primary-light: #ffdc4e;
$color-primary: #e5a434;
$color-primary-dark: #af740e;

$color-secondary-light: #6cd3ff;
$color-secondary: #13aded;
$color-secondary-dark: #107ead;

$color-tertiary-light: #96ff4a;
$color-tertiary: #69d61a;
$color-tertiary-dark: #4a9613;

$color-quad-light: #ff5c5c;
$color-quad: #dc3332;
$color-quad-dark: #9f1e1e;

$color-white: #fff;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333; 

$color-black: #000;

// // FONT
$font-size-default: 1rem;

// // GRID
