.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    border-radius: 3px; 
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: all .2s ease;
  }

  &:hover {
    transform: translateY(-.5rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .3);
  }

  &:active {
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .5);
  }


  &--primary {
    font-size: 1rem;
    padding: .5rem 1.5rem;
    display: inline-block;
    border-bottom: 3px solid $color-secondary-light;
    background-color: $color-secondary;
    color: $color-white;

    &:hover {
      background-color: $color-tertiary;
      border-bottom: 3px solid $color-tertiary-dark;
    }
  }

  &--large {
    display: block;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    border-bottom: .3rem solid $color-primary-dark;
    background-color: $color-primary;
    color: $color-black;
    padding: 1rem 5rem;
    font-size: 1.5rem;

    &:hover {
      background-color: $color-tertiary;
      border-bottom: .5rem solid $color-tertiary-dark;
    }
  }
}