body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  font-size: $font-size-default;
  font-weight: 400;
  color: $color-black;
}

.header__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.3;
  letter-spacing: .9rem;
  font-weight: 700;
  color: $color-white;
  animation: fromRight 3s 1s;
  animation-fill-mode: both;

  @include respond(tab-land) {
    line-height: 1.7;
    font-size: 1.7rem;
  }

  @include respond(tab-port) {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  &-light {
    @extend .header__text;

    font-weight: 500;
    color: $color-black;
  }
}

.heading-primary {
  font-size: 2rem;
  text-align: center;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to bottom,
    $color-secondary,
    $color-secondary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .3s ease;

  &:hover {
    transform: scale(1.1);
    text-shadow: 0 1rem 2rem rgba($color-black, .4);
  }
}

.heading-secondary {
  color: $color-gray-dark-1;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  color: $color-gray-dark-1; 
  font-size: 1rem;
  
  &:not(:last-child) {
    margin-bottom: .5rem; 
  }
}

.title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
}