.section-about {
  background-color: $color-gray-light-1;
  padding: 5rem 0;
  min-height: 44rem; 
}

.section-key {
  background-image: linear-gradient(
    to bottom right,
    rgba($color-secondary-dark, 0.9),
    rgba($color-tertiary-dark, 0.9)),
    url(../images/podTable-1.jpg);
  background-size: cover; 
  background-position: center; 
  height: 40rem;
  position: relative;
}